In [39]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv('StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [40]:
le_parent=LabelEncoder()
le_test_prep=LabelEncoder()
df['parental level of education']=le_parent.fit_transform(df['parental level of education'])
df['test preparation course']=le_test_prep.fit_transform(df['test preparation course'])
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,1,standard,1,72,72,74
1,female,group C,4,standard,0,69,90,88
2,female,group B,3,standard,1,90,95,93
3,male,group A,0,free/reduced,1,47,57,44
4,male,group C,4,standard,1,76,78,75

In [41]:
np.random.seed(42)
df['study_time'] = np.random.randint(1, 11, df.shape[0])

In [42]:
X=df[['parental level of education','test preparation course','study_time']]
y=df['math score']
model=LinearRegression()
model.fit(X,y)
pred_value=model.predict([[1,0,6]])
print(pred_value)

[70.27136901]

d:\downloads\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [43]:
X1=df[['parental level of education']]
y1=df['math score']
model=LinearRegression()
model.fit(X1,y1)
pred_value1=model.predict([[1]])
print(pred_value1)

[66.92992532]

d:\downloads\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [44]:
X2=df[['test preparation course']]
y2=df['math score']
model=LinearRegression()
model.fit(X2,y2)
pred_value2=model.predict([[0]])
print(pred_value2)

[69.69553073]

d:\downloads\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
X3=df[['study_time']]
y3=df['math score']
model=LinearRegression()
model.fit(X3,y3)
pred_value3=model.predict([[6]])
print(pred_value3)

[65.78731188]

d:\downloads\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

the variable which most important influences the student performance is 'test preparation course'